[package]
name = "example_lib"
version = "0.1.0"
authors = ["K. <kayo@illumium.org>"]
edition = "2018"

[lib]
crate_type = ["staticlib", "cdylib"]

[dependencies]
futures = "^0.3"

[dependencies.futures-timer]
version = "^3.0"

[dependencies.async-std]
version = "^1.5"

[dependencies.extern_executor]
version = "^0.1"
path = "../extern_executor"

[build-dependencies]
cbindgen = "^0.14"
